.copiado {
    color: green;
    font-weight:bold;
}
body {
    background-color: rgb(32, 34, 37);
    font-family: Roboto;
    margin: 0px;
}
.header {
    padding: 5px;
    text-align: left;
    padding-left: 6%;
    background: rgb(139, 99, 227);
    color: white;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0px;
}
.header-button {
    background-color: rgb(139, 99, 227);
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.15s;
}
.header-button:hover {
    box-shadow: 2px 2px 2px rgb(37, 28, 56, 0.3);
}
.header-button:active {
    box-shadow: 1px 1px 1px rgb(37, 28, 56, 0.3);
}
.header-item-1, .header-item-2, .header-item-3 {
    display: inline-block;
}
.header-img {
    margin-right: 10px;
}
.below-header {
    background-color: rgb(105, 62, 196);
    padding: 2px;
    margin-top: 0;
    overflow: hidden;
}
.below-header-items {
    display: inline-block;
    margin-right: 40px;
    float: right;

}
.below-header-item-1, .below-header-item-2, .below-header-item-3, .below-header-item-4, .below-header-item-5 {
    display: inline-block;
    justify-content: center;
    padding: 10px;
}
.below-header-item-1, .below-header-item-4 {
    vertical-align: bottom;
}
.below-header-img, .below-header-label {
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
}
.below-header-label {
    text-align: center;
    color: whitesmoke;
    padding: 5px;
}
.below-header-img {
    width: 60px;
}
.tool-title-inner-container {
    text-align: center;
}
.calculation-block {
    margin-top: 100px;
    display: block;
}
.calculation-block-inner-contaier {
    text-align: center;
}
.current-level-div, .target-level-div {
    display: inline-block;
    padding: 10px;
}

h1, h2, h3{
    color: white;
}
.rashid-title {
    margin-left: 30px;
}
label {
    color: rgb(139, 99, 227);
}
.search-character {
    font-size: 18px;
    margin-top: 5px;
    margin-right: 10px;
    width: 250px;
}
.progress-bar {
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    height: 4px;
    margin-bottom: 4px;
    background-color: rgb(255, 255, 255);
}
.progress-bar-inner {
    width: 75%;
    background-color: rgb(33, 250, 5);
}
.progress {
    --progress: 0%;
    width: 248px;
    height: 10px;
    margin: 1em auto;
    border: 1px solid #000000;
    margin-top: 20px;
}
  
.progress .bar {
    width: var(--progress);
    height: 100%;
    background: rgb(0, 192, 0);
}
.level-inner {
    width: 250px;
    overflow: hidden;
    margin: auto;
}
.level-name, .level-number {
    display: inline-block;
}
.level-name {
    float: left;
}
.level-number {
    float: right;
}
.char-button {
    background-color: rgb(139, 99, 227);
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.15s;
}
.calcular-button {
    background-color: rgb(139, 99, 227);
    color: white;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.15s;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
}
.char-button:hover, .calcular-button:hover {
    opacity: 0.7;
}
.char-button:active, .calcular-button:active {
    opacity: 0.4;
}
.level-button {
    background-color: white;
    color: rgb(139, 99, 227);
    border-color: rgb(139, 99, 227);
    border-width: 1px;
    border-style: solid;
    height: 25px;
    width: fit-content;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}
.level-button:hover {
    background-color: rgb(139, 99, 227);
    color: white;
}
.level-button:active {
    opacity: 0.5;
}

.left-container {
    width: 200px;
    display: inline-block;
    padding: 15px;
    margin-right: 40px;
}
.left-inner-div {
    display: inline-block;
    align-items: center;
    padding: 10px;
}
